.hero {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* text aligned left */
  padding: 0 60px; /* spacing from left */
  color: #000000;

  background-image: url("./images/header1.jpg"); /* desktop background */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

}

.hero__content {
  max-width: 950px; /* control text width */
  margin-left: 10%;
}

.hero__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero__desc {
  font-size: 1rem; /* reduced from 1.2rem */
  line-height: 1.4; /* slightly increased for readability */
  margin-bottom: 20px;
}

.hero__updated {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
}

.hero__updated .dot {
  width: 10px;
  height: 10px;
  background: #0b63ff;
  border-radius: 50%;
  display: inline-block;
}

/* Responsive adjustments */

/* Tablet */
@media (max-width: 1024px) {
  .hero {
    padding: 0 40px;
    min-height: 140vh;
  }
  .hero__desc {
    font-size: 0.95rem;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .hero {
    flex-direction: column; /* stack text on top */
    text-align: center;
    padding: 20px;
    min-height: 20vh;
    justify-content: center;

    background-image: url("./images/header.jpg"); /* mobile background */
    background-size: contain !important; /* show full image */
    background-position: center center;
    background-repeat: no-repeat;

    margin-top: 0; /* clean up spacing */
  }

  .hero__content {
    max-width: 90%;
    margin-left: 0;
  }

  .hero__title {
    font-size: 2.2rem;
  }

  .hero__desc {
    font-size: 0.9rem;
  }
}

/* Small Mobile */
@media (max-width: 480px) {
  .hero__title {
    font-size: 1.3rem;
    text-align: left;
  }

  .hero__desc {
    font-size: 0.85rem;
    display: none;
  }

  .hero__updated {
    margin-left: -7%;
    margin-top: 30%;
  }
}

.tick {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: black;
  border-radius: 50%;
  position: relative;
  margin-right: 5px;
}

.tick::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 2px;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
